.list-container {
  display: flex;
  margin-bottom: 12px;
}
.para {
  margin-right: 30px;
  font-size: 18px;
}
.custom-btn {
  background-color: white;
  border: 2px solid #ff0b37;
  color: #ff0b37;
  padding: 10px;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
